.git
/vendor
/node_modules
/.env
/.env.*
/storage/*.key
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views
/storage/logs
/public/hot
/public/storage
/storage/app/public
/coverage
/.phpunit.result.cache
.phpunit.result.cache
.DS_Store
Thumbs.db
