/vendor
/node_modules
/.idea
/.vscode
/.env
/.env.*
/.phpunit.result.cache
/storage/*.key
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views
/storage/logs
/public/hot
/public/storage
/storage/app/public
/coverage
/.phpstorm.meta.php
Homestead.json
Homestead.yaml
.phpunit.result.cache
.phpunit.cache
.DS_Store
Thumbs.db
.env.backup
